@import url(partSelector.css);
@import url(partViewer.css);
#lessons {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

#lessons-file-viewer {
    height: 95%;
    width: 9.5%;
    position: absolute;
    transform: translateY(110%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: white solid 10px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    z-index: 2;
}

#lessons-file {
    width: 97.5%;
    height: 95%;
}

#lessons-close-file-button {
    color: black;
    background-color: white;
    border-radius: 50%;
    font-size: 40px;
    position: absolute;
    top: -15px;
    left: -20px;
    transition: all 0.3s ease-in-out;
    border: white solid 5px;
}

#lessons-close-file-button:hover {
    color: white;
    background-color: black;
}