@import url(Components/aboutus.css);
@import url(Components/bookmark.css);
@import url(Components/dictionary.css);
@import url(Components/playground.css);
@import url(Components/tests.css);

* {
    margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

#loading-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 100;
    transition: all ease 0.5s;
    position: fixed;
}

#home-background {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#main-screen {
    width: 500%;
    height: calc(100% - 50px);
    position: fixed;
    top: 50px;
    display: flex;
    align-items: flex-start;
    transition: transform 1s ease;

}

.screen {
    width: 20%;
    transition: transform 0.6s ease-in-out;
}

.no-hover {
    pointer-events: none;
}

