#tests {
    height: 200%;
    display: flex;
    flex-direction: column;
}

#test-binding-picker {
    height: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#test-binding-title {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

#test-binding-subtitle {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#test-bindings-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    height: 50%;
    width: 100%;
}

.test-chapter-binding {
    height: 95%;
    width: 18%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 25px;
    border: white solid 5px;
    padding-top: 0px;
}

#test-chapter-A-binding {
    animation:  sine infinite var(--animation-duration) forwards alternate-reverse calc(var(--animation-delay)*0)
}
#test-chapter-B-binding {
    animation:  sine infinite var(--animation-duration) forwards alternate-reverse calc(var(--animation-delay)*1)
}
#test-chapter-C-binding {
    animation:  sine infinite var(--animation-duration) forwards alternate-reverse calc(var(--animation-delay)*2)
}
#test-chapter-D-binding {
    animation:  sine infinite var(--animation-duration) forwards alternate-reverse calc(var(--animation-delay)*3)
}
.test-chapter-binding-label {
    font-size: 30px;
    text-align: center;
    height: 25%;
    width: calc(100% + 28px);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: white 5px solid;
    background-color: white;
    color: black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}

.test-lesson-binding-container {
    margin-top: 10px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85%;
    width: 100%;
}

.test-lesson-binding {
    background-color: white;
    color: rgb(0, 0, 0);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
    transition: all ease 0.3s;
    cursor: pointer;
    user-select: none;
}

.select-all-button:hover, .deselect-all-button:hover, #select-all-button:hover, #deselect-all-button:hover, .test-lesson-binding:hover {
    transform: translateY(-5px);
}
.select-all-button, .deselect-all-button, #select-all-button, #deselect-all-button {
    width: 45%;
    height: 90%;
    border-radius: 20px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: all ease 0.3s;
    font-size: 20px;
    text-wrap: nowrap;
    border: black solid 3px;
    font-weight: bold;
}


#select-all-button, #deselect-all-button {
    font-size: 20px;
}



.select-all-button, #select-all-button {
    background-color: rgb(255, 255, 255);
}

.deselect-all-button, #deselect-all-button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 3px white solid;
}

.select-deselect-container {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#test-start-button, #test-counter, #test-percentage {
    position: absolute;
    bottom: 0;
    transform: translateY(-15px);
    height: 12%;
    min-height: 80px;
    width: 40%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border: white solid 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-width: 2px;
    font-weight: bold;
}

#test-start-button {
    transform: translateY(-15px);
    transition: all ease 0.3s;
    cursor: pointer;
    user-select: none;
}

#test-start-button:hover {
    transform: translateY(-20px);
    scale: 1.1;
}
#test-counter {
    height: 5%;
    min-height: 60px;
    text-wrap: nowrap;

    width: 20%;
    left: 5%;
    font-size: 20px;
    border: white solid 3px;
}

#test-percentage {
    height: 5%;
    min-height: 60px;
    text-wrap: nowrap;
    width: 20%;
    right: 5%;
    font-size: 20px;
    border: white solid 3px;
}

#select-all-deselect-all-container {
    width: 30%;
    height: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.deselected-binding {
    background-color: rgb(0, 0, 0);
    color: white;
    border: white solid 3px;
}

.selected-binding {
    background-color: white;
    color: black;
}

#test-binding-title {
    padding: 0 30px;
    height: 15%;
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border: white solid 5px;
    border-radius: 15px;
}

#test-viewer-container {
    width: 20000%;
    height: 90%;
    transition: all ease 1s;
    display: grid;
    grid-template-columns: repeat(200,1fr);
}

#tests-container {
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;
}

.question-container {
    height: 40%;
    width: 80%;
    background-color: #214ea0;
    border-radius: 20px;
}

.question-text {
    margin: 30px;
    font-size: 40px;
    color: white;
}

.test-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.answers-container {
    display: grid;
    gap: 20px;
    width: 80%;
    height: 40%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.true-false {
    transform: translateY(25%);
}

.answer {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #3d99c9;
    color: white;
    font-size: 30px;
    transition: 0.3s ease all;
    cursor: pointer;
}

.answer:hover {
    transform: translateY(-10px);

}

.right-answer {
    background-color: rgb(10, 133, 10);
}

.wrong-answer {
    background-color: rgb(176, 24, 24);
}

#test-stats-container {
    width: 100%;
    height: 10%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stat-container {
    position: relative;
}

.stat-tooltip {
    position: absolute;
    opacity: 0;
    transform: translateY(0);
    max-height: 60%;
    background-color: black;
    padding: 5px;
    max-width: 100%;
}
.stat-column, .stat-container {
    margin-right: 10px;
    height: 90%;
    width: 5%;

}

.stat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: white solid 2px;
    border-radius: 20px;
}

.stat-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stat-column-container {
    width: 100%;
    height: 45%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: white solid 2px;
    border-radius: 10px;
    max-height: 45%;
    cursor: default;
}

#stat-topic-container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stat-right-answers, #stat-accuracy {
    color: lime;
}

#stat-wrong-answers {
    color: red;
}

#stat-right-answers, #stat-wrong-answers {
    font-size: 25px;
}

#stat-question-number {
    width: 30%;
}
#stat-total-question {
    font-size: 25px;
}

#results-container {
    background-color: black;
    border-radius: 50px;
    color: white;
    height: 90%;
    width: 90%;
    justify-self: center;
    align-self: center;
    border: white solid 5px;
}

#test-results-label {
    font-size: 100px;
}

#test-results {
    font-size: 70px;
}

#test-results-percentage {
    font-size: 60px;
    color: lime;
}

#test-retry {
    height: 20%;
    width: 300px;
    font-size: 60px;
}